@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    padding: 0px;
    margin: 0px;
    padding-top: 120px;
    /* padding-bottom: 50px; */
    position: relative;
}

.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins";
    font-size: 23px;
    color: white;
    background: orange;
    border-radius: 10px;
    opacity: 0.9;
    padding: 20px;
    width: 300px;
    height: 60px;
    position: absolute;
    top: 8%;
    left: 30%;
    margin: -50px 0 0 -50px;
    z-index: 2000;
    visibility: hidden;
}

.slideAnimStart{
    animation: slideAnimationStart 0.5s ease-in-out;
}
.slideAnimEnd{
    animation: slideAnimationEnd 0.5s reverse;
}

@keyframes slideAnimationStart {
    0% {transform: scale(0.1);}
    100% {transform: scale(1);}
}

@keyframes slideAnimationEnd {
    0% {transform: scale(0.1);}
    100% {transform: scale(1);}
}